In [1]:
import pandas as pd

## Data

### Leases

In [5]:
# Leases Data
leases = pd.read_csv('Leases.csv')
leases.head()

,year,quarter,monthsigned,market,building_name,building_id,address,region,city,state,...,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
0,2018,Q1,1.0,Atlanta,10 Glenlake North Tower,Atlanta_Central Perimeter_Atlanta_10 Glenlake ...,10 Glenlake Pky NE,South,Atlanta,GA,...,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
1,2018,Q1,1.0,Atlanta,100 City View,Atlanta_Northwest_Atlanta_100 City View_3330 C...,3330 Cumberland Blvd,South,Atlanta,GA,...,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
2,2018,Q1,1.0,Atlanta,1000 Parkwood,Atlanta_Northwest_Atlanta_1000 Parkwood_1000 P...,1000 Parkwood Cir SE,South,Atlanta,GA,...,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0
3,2018,Q1,1.0,Atlanta,1100 Circle 75,Atlanta_Northwest_Atlanta_1100 Circle 75_1100 ...,1100 Circle 75 Pky SE,South,Atlanta,GA,...,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715742.0
4,2018,Q1,1.0,Atlanta,1200 Ashwood,Atlanta_Central Perimeter_Atlanta_1200 Ashwood...,1200 Ashwood Pky,South,Atlanta,GA,...,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126.0

In [11]:
leases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194685 entries, 0 to 194684
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   year                            194685 non-null  int64
 1   quarter                         194685 non-null  object
 2   monthsigned                     193822 non-null  float64
 3   market                          194685 non-null  object
 4   building_name                   157999 non-null  object
 5   building_id                     194685 non-null  object
 6   address                         194685 non-null  object
 7   region                          194685 non-null  object
 8   city                            194685 non-null  object
 9   state                           194685 non-null  object
 10  zip                             194684 non-null  float64
 11  internal_submarket              194685 non-null  object
 12  internal_class                  194676 non-null  object
 13  leasedSF                        194685 non-null  float64
 14  company_name                    37216 non-null   object
 15  internal_industry               26401 non-null   object
 16  transaction_type                194146 non-null  object
 17  internal_market_cluster         75838 non-null   object
 18  costarID                        194685 non-null  int64
 19  space_type                      187140 non-null  object
 20  CBD_suburban                    194685 non-null  object
 21  RBA                             145541 non-null  float64
 22  available_space                 145541 non-null  float64
 23  availability_proportion         145541 non-null  float64
 24  internal_class_rent             145541 non-null  float64
 25  overall_rent                    145541 non-null  float64
 26  direct_available_space          121674 non-null  float64
 27  direct_availability_proportion  121674 non-null  float64
 28  direct_internal_class_rent      121674 non-null  float64
 29  direct_overall_rent             121674 non-null  float64
 30  sublet_available_space          121674 non-null  float64
 31  sublet_availability_proportion  121674 non-null  float64
 32  sublet_internal_class_rent      121674 non-null  float64
 33  sublet_overall_rent             121674 non-null  float64
 34  leasing                         145541 non-null  float64
dtypes: float64(17), int64(2), object(16)
memory usage: 52.0+ MB

In [19]:
leases.iloc[7558]

year                                                                           2019
quarter                                                                          Q1
monthsigned                                                                     1.0
market                                                                      Atlanta
building_name                                                        1000 Circle 75
building_id                       Atlanta_Northwest_Atlanta_1000 Circle 75_1000 ...
address                                                       1000 Circle 75 Pky SE
region                                                                        South
city                                                                        Atlanta
state                                                                            GA
zip                                                                         30339.0
internal_submarket                                                        Northwest
internal_class                                                                    O
leasedSF                                                                     4207.0
company_name                                                                    NaN
internal_industry                                                               NaN
transaction_type                                                                New
internal_market_cluster                                                         NaN
costarID                                                                     434719
space_type                                                                    Relet
CBD_suburban                                                               Suburban
RBA                                                                      66290064.0
available_space                                                          12085998.0
availability_proportion                                                     0.18232
internal_class_rent                                                       20.385196
overall_rent                                                                26.6522
direct_available_space                                                   11135117.0
direct_availability_proportion                                               0.0655
direct_internal_class_rent                                                20.481839
direct_overall_rent                                                       26.925077
sublet_available_space                                                     950881.0
sublet_availability_proportion                                               0.0056
sublet_internal_class_rent                                                19.013882
sublet_overall_rent                                                       22.546657
leasing                                                                    877328.0
Name: 7558, dtype: object

In [21]:
leases.iloc[0]

year                                                                           2018
quarter                                                                          Q1
monthsigned                                                                     1.0
market                                                                      Atlanta
building_name                                               10 Glenlake North Tower
building_id                       Atlanta_Central Perimeter_Atlanta_10 Glenlake ...
address                                                          10 Glenlake Pky NE
region                                                                        South
city                                                                        Atlanta
state                                                                            GA
zip                                                                         30328.0
internal_submarket                                                Central Perimeter
internal_class                                                                    A
leasedSF                                                                    24736.0
company_name                                            Capital Investment Advisors
internal_industry                                  Financial Services and Insurance
transaction_type                                                          Expansion
internal_market_cluster                                                         NaN
costarID                                                                     445509
space_type                                                                    Relet
CBD_suburban                                                               Suburban
RBA                                                                     101140416.0
available_space                                                          20239067.0
availability_proportion                                                    0.200109
internal_class_rent                                                       27.655891
overall_rent                                                              24.345689
direct_available_space                                                          NaN
direct_availability_proportion                                                  NaN
direct_internal_class_rent                                                      NaN
direct_overall_rent                                                             NaN
sublet_available_space                                                          NaN
sublet_availability_proportion                                                  NaN
sublet_internal_class_rent                                                      NaN
sublet_overall_rent                                                             NaN
leasing                                                                   1205126.0
Name: 0, dtype: object

### Major Market Occupancy

In [6]:
# Major Market Occupancy Data
market_occupancy = pd.read_csv('Major Market Occupancy Data-revised.csv')
market_occupancy.head()

,year,quarter,market,ending_occupancy_proportion,starting_occupancy_proportion,avg_occupancy_proportion
0,2020,Q1,Washington D.C.,0.19,0.98,0.785714
1,2020,Q1,Manhattan,0.08,0.98,0.732857
2,2020,Q1,Chicago,0.14,0.99,0.788571
3,2020,Q1,Houston,0.33,0.99,0.835714
4,2020,Q1,Philadelphia,0.20,0.99,0.817143

In [12]:
market_occupancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           190 non-null    int64
 1   quarter                        190 non-null    object
 2   market                         190 non-null    object
 3   ending_occupancy_proportion    190 non-null    float64
 4   starting_occupancy_proportion  190 non-null    float64
 5   avg_occupancy_proportion       190 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 9.0+ KB

In [15]:
market_occupancy.iloc[0]

year                                        2020
quarter                                       Q1
market                           Washington D.C.
ending_occupancy_proportion                 0.19
starting_occupancy_proportion               0.98
avg_occupancy_proportion                0.785714
Name: 0, dtype: object

### Price And Availability

In [7]:
# Price and Availability Data
price_and_availability = pd.read_csv('Price and Availability Data.csv')
price_and_availability.head()

,year,quarter,market,internal_class,RBA,available_space,availability_proportion,internal_class_rent,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent,leasing
0,2018,Q1,Atlanta,A,101140416,20239067,0.200109,27.655891,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1205126
1,2018,Q1,Atlanta,O,65810449,12728989,0.193419,18.560886,24.345689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715742
2,2018,Q1,Austin,A,36815073,4281986,0.116311,40.384706,36.596618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1738905
3,2018,Q1,Austin,O,27947525,3360936,0.121082,30.118658,36.596618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185674
4,2018,Q1,Baltimore,A,41033288,6813380,0.166045,27.104835,22.954034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,380750

In [13]:
price_and_availability.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            1680 non-null   int64
 1   quarter                         1680 non-null   object
 2   market                          1680 non-null   object
 3   internal_class                  1680 non-null   object
 4   RBA                             1680 non-null   int64
 5   available_space                 1680 non-null   int64
 6   availability_proportion         1680 non-null   float64
 7   internal_class_rent             1680 non-null   float64
 8   overall_rent                    1680 non-null   float64
 9   direct_available_space          1380 non-null   float64
 10  direct_availability_proportion  1380 non-null   float64
 11  direct_internal_class_rent      1380 non-null   float64
 12  direct_overall_rent             1380 non-null   float64
 13  sublet_available_space          1380 non-null   float64
 14  sublet_availability_proportion  1380 non-null   float64
 15  sublet_internal_class_rent      1380 non-null   float64
 16  sublet_overall_rent             1380 non-null   float64
 17  leasing                         1680 non-null   int64
dtypes: float64(11), int64(4), object(3)
memory usage: 236.4+ KB

In [20]:
price_and_availability.iloc[327]

year                                    2019
quarter                                   Q2
market                             Manhattan
internal_class                             O
RBA                                200026077
available_space                     18165113
availability_proportion             0.090814
internal_class_rent                61.404651
overall_rent                       80.483238
direct_available_space            14086664.0
direct_availability_proportion        0.0315
direct_internal_class_rent         61.723811
direct_overall_rent                83.104269
sublet_available_space             4078449.0
sublet_availability_proportion        0.0091
sublet_internal_class_rent         57.206137
sublet_overall_rent                57.587003
leasing                              3477494
Name: 327, dtype: object

### Unemployment

In [8]:
# Unemployment Data
unemployment = pd.read_csv('Unemployment.csv')
unemployment.head()

   year quarter  month state  unemployment_rate
0  2018      Q1      1    AZ                4.9
1  2018      Q1      1    CA                4.4
2  2018      Q1      1    CO                2.9
3  2018      Q1      1    DE                4.1
4  2018      Q1      1    DC                5.9

In [17]:
unemployment.iloc[0]

year                 2018
quarter                Q1
month                   1
state                  AZ
unemployment_rate     4.9
Name: 0, dtype: object

## Per-Region Analysis

In [51]:
regions = set(leases['region'].unique())

regions_dfs = {}
for region in regions:
    region_df = leases[leases['region'] == region]
    regions_dfs[region] = region_df 
    print(f"Region '{region}': {len(region_df)} leases")
    
regions

Region 'West': 50554 leases
Region 'Midwest/Central': 23860 leases
Region 'Northeast': 51255 leases
Region 'South': 69016 leases

{'Midwest/Central', 'Northeast', 'South', 'West'}

### Midwest

In [49]:
midwest = regions_dfs['Midwest/Central']
midwest_markets= set(midwest['market'].unique())
midwest_markets


# Market Occupancy Markets
# Chicago

{'Chicago', 'Chicago Suburbs', 'Denver', 'Detroit'}

In [55]:
# Price Markets
# Chicago Suburbs, Denver-Boulder, Detroit, Downtown Chicago

# rename to match leases dataset
market_mapping = {
    'Downtown Chicago': 'Chicago',
    'Denver-Boulder': 'Denver'
}
price_and_availability['market'] = price_and_availability['market'].replace(market_mapping)

### Northeast

In [50]:
northeast = regions_dfs['Northeast']
northeast_markets = set(northeast['market'].unique())
northeast_markets

# Market Occupancy Markets
# Manhattan, Philadelphia, Washington D.C.

# Price Markets
# Baltimore, Boston, Manhattan, Northern New Jersey, Northern Virginia, Philadelphia, Suburban Maryland, Washngton D.C.

{'Baltimore',
 'Boston',
 'Manhattan',
 'Northern New Jersey',
 'Northern Virginia',
 'Philadelphia',
 'Southern Maryland',
 'Washington D.C.'}

### South

In [41]:
south = regions_dfs['South']
south_markets= set(south['market'].dropna().unique())
south_markets

# Market Occupancy Markets
# Austin, Dallas/Ft Worth, Houston

# Price Markets
# Atlanta, Austin, Charlotte, Dallas-Ft. Worth, Houston, Nashville, Raleigh-Durham, South Florida, Tampa

{'Atlanta',
 'Austin',
 'Charlotte',
 'Dallas/Ft Worth',
 'Houston',
 'Nashville',
 'Raleigh/Durham',
 'South Florida',
 'Tampa'}

### West

In [42]:
west = regions_dfs['West']
west_markets= set(west['market'].dropna().unique())
west_markets

# Market Occupancy Markets
# Los Angeles, San Francisco, South Bay/San Jose

# Price Markets
# Los Angeles, Orange County (CA), Phoenix, Salt Lake City, San Diego, San Francisco, Seattle, South Bay

{'Los Angeles',
 'Orange County',
 'Phoenix',
 'Salt Lake City',
 'San Diego',
 'San Francisco',
 'Seattle',
 'South Bay/San Jose'}